
                    <div class="search-form">
                        <form action="/search-results/" method="post" accept-charset="UTF-8"><div>{% csrf_token %}
                            <h2 class="element-invisible">Search form</h2>
                            <div class="form-item control-group">
                                <label class="control-label element-invisible" for="edit-search-block-form--2">Search </label>
                                <div class="controls"><input title="Enter the terms you wish to search for." placeholder="Search" type="text" id="searchquery" name="searchquery" id="edit-search-block-form--2" size="15" maxlength="128" class="form-text" autocomplete="off"></div></div>
                                <input class="search-form-submit" type="submit" value="Search">
                            </div>
                        </form>
                    <a id="context-block-search-form" class="context-block editable edit-system_nav"></a>
                    </div>

                    <ul id="search-results">
                        
                    </ul>



