{% extends "base.html" %}
{% block extraheader %}

{% endblock %}
{% block title %}Athletes United | The World's Community of Athletes{% endblock %}
{% block content %}

        <div class="main-content">
            <div class="content-header">
                <div class="content-inner">
                    
                    Athletes United
                    <br></br>
                    
                    Sports:
                    <br></br>
                    
                    Soccer
                    <br></br>
                    Basketball
                    <br></br>
                    Swimming
                    <br></br>
                    Hockey
                    <br></br>
                    Football
                    <br></br>
                    Wrestling
                    <br></br>
                    Lacrosse
                    <br></br>
                    Baseball
                    <br></br>
                    Golf
                    <br></br>
                    Gymnastics
                    <br></br>
                    Rugby
                    <br></br>
                    Racing
                    <br></br>
                    Skateboarding
                    <br></br>
                    Tennis
                    <br></br>
                    Archery
                    <br></br>
                    Cheerleading
                    <br></br>
                    Crochet
                    <br></br>
                    Wrestling
                    <br></br>
                    Soccer
                    <br></br>
                    Basketball
                    <br></br>
                    Swimming
                    <br></br>
                    Hockey
                    <br></br>
                    Football
                    <br></br>
                    Wrestling
                    <br></br>
                    Soccer
                    <br></br>
                    Basketball
                    <br></br>
                    Swimming
                    <br></br>
                    Hockey
                    <br></br>
                    Football
                    <br></br>
                    Wrestling
                    <br></br>
                    Soccer
                    <br></br>
                    Basketball
                    <br></br>
                    Swimming
                    <br></br>
                    Hockey
                    <br></br>
                    Football
                    <br></br>
                    Wrestling
                    
                </div>
            </div>
        </div>
        <div class="side-content">
            <div class="content-header">
                <div class="content-inner">
                    
                    Partners of Athletes United
                    <br>
                    <br>
                    <center>
                        
                        <div class="ads">
                            
                            {% include "ads.html" %}
                            
                        </div>
                        
                    </center>
                    
                </div>
            </div>
            <div class="footer-header-side">
                <div class="footer-inner-side">
                    
                    <footer>
                        {% include "footer.html" %}
                    </footer>
                    
                </div>
            </div>
        </div>

{% endblock %}
