{% extends "base.html" %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block extraheader %}

{% endblock %}
{% block title %}{% trans "Athletes United" %} | {% trans "A Community of Athletes" %}{% endblock %}
{% block content %}

        <div class="content-main">
            <div class="content-header">
                <div class="content-inner">
                    
                    <!-- Store -->
                    Coming soon!

                </div>
            </div>
        </div>

        <div class="footer-main">
            <div class="footer-header">
                <div class="footer-inner">
                    
                    <footer>
                        {% include "footer.html" %}
                    </footer>
                    
                </div>
            </div>
        </div>

{% endblock %}

