{% extends "base.html" %}
{% load i18n %}
{% block extrahead %}

{% endblock %}
{% block title %}Athletes United | The World's Community of Athletes{% endblock %}
{% block content %}

        <div class="content-main">
            <div class="content-header">
                <div class="content-inner">
            
                    <!-- Success -->
                    <p>{% trans "Your account is now activated." %}</p>
                    
                    <br>
                    
                    Now you may <a href="/login">login</a>.

                </div>
            </div>
        </div>

        <div class="footer-main">
            <div class="footer-header">
                <div class="footer-inner">
                    
                    <footer>
                        {% include "footer.html" %}
                    </footer>
                    
                </div>
            </div>
        </div>

{% endblock %}

