{% extends "base.html" %}
{% load i18n %}

{% block content %}

        <div class="content-main">
            <div class="content-header">
                <div class="content-inner">
                    
                    <!-- Success -->
                    <p>{% trans "Email with password reset instructions has been sent." %}</p>

                </div>
            </div>
        </div>

        <div class="footer-main">
            <div class="footer-header">
                <div class="footer-inner">
                    
                    <footer>
                        {% include "footer.html" %}
                    </footer>
                    
                </div>
            </div>
        </div>

{% endblock %}
