{% extends "base.html" %}
{% load i18n %}

{% block content %}

        <div class="content-main">
            <div class="content-header">
                <div class="content-inner">
            
                    <p>{% trans "Success! Your password has been changed" %}</p>
                    <br>
                    Return to your <a href="/profile">{% trans "profile" %}</a>.

                </div>
            </div>
        </div>

        <div class="footer-main">
            <div class="footer-header">
                <div class="footer-inner">
                    
                    <footer>
                        {% include "footer.html" %}
                    </footer>
                    
                </div>
            </div>
        </div>

{% endblock %}
