{% extends "base.html" %}
{% load i18n %}

{% block content %}

        <div class="content-main">
            <div class="content-header">
                <div class="content-inner">
            
                    {% trans "Password reset successfully" %}
                    <br><br>
                    Please now <a href="/login">{% trans "login" %}</a>.

                </div>
            </div>
        </div>

        <div class="footer-main">
            <div class="footer-header">
                <div class="footer-inner">
                    
                    <footer>
                        {% include "footer.html" %}
                    </footer>
                    
                </div>
            </div>
        </div>

{% endblock %}
