{% extends "base.html" %}
{% load i18n %}

{% block content %}

        <div class="content-main">
            <div class="content-header">
                <div class="content-inner">
            
                    <form method="post" action="">
                      {% csrf_token %} 
                      {{ form.as_p }}

                      <input type="submit" value="{% trans 'Submit' %}" />
                    </form>

                </div>
            </div>
        </div>

        <div class="footer-main">
            <div class="footer-header">
                <div class="footer-inner">
                    
                    <footer>
                        {% include "footer.html" %}
                    </footer>
                    
                </div>
            </div>
        </div>

{% endblock %}
