{% load comments i18n fluent_comments_tags %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript" ></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js" type="text/javascript" ></script>

<script src="{{ STATIC_URL }}js/init.js" type="text/javascript" ></script>
<script src="{{ STATIC_URL }}js/post.js" type="text/javascript" ></script>
<script src="{{ STATIC_URL }}js/ajaxcomments.js" type="text/javascript" ></script>

{% if not form.target_object %}
<p>{% trans "Comments are closed." %}</p>
{% else %}
<form id="comment-form-{{ form.target_object.pk }}" data-object-id="{{ form.target_object.pk }}" action="{% comment_form_target %}" method="post" class="js-comments-form comments-form form-horizontal"
    data-ajax-action="{% url 'post_comment_ajax' %}">{% csrf_token %}
    {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
    
    {{ form.as_p }}
    
    <div class="form-actions">
        <input type="submit" name="post" class="btn btn-primary" value="{% trans "Post" %}" />
        <!-- <input type="submit" name="preview" class="btn" value="{% trans "Preview" %}" /> -->
        {% ajax_comment_tags for form.target_object %}
    </div>
</form>
{% endif %}